body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.announcement-bar {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    top: 0;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.logo {
    height: 65px;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}

.nav a:hover {
    color: #808080;
}

.cta-icons {
    display: flex;
    gap: 15px;
}

.icon {
    font-size: 20px;
    color: black;
    transition: color 0.3s;
}

.icon:hover {
    color: #ff9800;
}